h1 {
    text-align: center;
}

.login_form {
    padding-top: 5%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: steelblue;
    display: grid;
    color: snow;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.login_header{
    padding-bottom: 30px;
}

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    margin-bottom: 10px;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.row {
    padding-bottom: 20px;
}